registry=https://registry.npmmirror.com

# 二进制包国内镜像
# 原生模块下载加速,不需要可以删除
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
electron_mirror=https://npmmirror.com/mirrors/electron/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
node-sass_binary_site=https://npmmirror.com/mirrors/node-sass/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt/
